#boardGame {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 40px;
    height: 40px;
    position: relative;
}

.square svg {
    width: 30px;
    height: 30px;
    margin: 5px;
    position: relative ;
    z-index: -9;
}

path {
    position: relative ;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(133, 133, 128);
}

.brown {
    background-color: rgb(165, 42, 42);
}

.black {
    fill: black
}

.white {
    fill: white
}
